*.o
build-ppm-generator-Desktop_*-Release/
build-ppm-generator-Desktop_*-Debug/
/gui/*.user*
/SaleaeLogicDump
/installer/MSVC20*bit/*.exe
/installer/MSVC20*bit/packages/org.kolodkin.ppm/data
/installer/ppm-installer-*bit.exe
*.bak
