*.o
build-ppm-generator-Desktop*-Release/
build-ppm-generator-Desktop*-Debug/
/gui/*.user*
/SaleaeLogicDump
/installer/MSVC2017_*bit/*.exe
/installer/MSVC2017_*bit/packages/org.kolodkin.ppm/data
/installer/ppm-installer-*bit.exe
*.bak
